html, body{
font-family: 'system-ui' !important;
}
#home_sec_tag{
  padding-left: 5em;
}
.home_img{
  position: relative;
  width: 100%;
  left: 1.5em;
}
@media (max-width: 767px) { 
  .home_img{
   display: none;
  }
  #home_sec_tag{
    padding-left: 0;
    text-align: center;
  }
}
#hero h1 span {
    color: #fff !important;
    border-bottom: 2px solid #c841dab8 !important;
}

.nav-menu > ul > li > a:before {   
    background-color: #ffffff !important;
}

.active > a:before {
    visibility: visible;
    width: 65% !important;;
    align-items: center;
    align-content: center;
}

#my_btn{
    background: #011B33 0% 0% no-repeat padding-box;
}
#header.header-scrolled {
    background:rgb(0 0 0 / 46%)!important;
    height: 50px !important;
}
.buy_bit{
color: var(--unnamed-color-011b33);
text-align: left;
letter-spacing: 0px;
color: #011B33;
opacity: 1;
}
.my_font{
    color: var(--unnamed-color-011b33);  
    letter-spacing: 0px;
    color: #011B33;
    opacity: 1;
    }

    /* CAROUSEL? */

 
    .carousel {
      width: 100%;
    }
    
    .slide-box {
      display: flex;
      justify-content: space-between;
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
      .slide-box p {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
      .slide-box p {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }
    }
    
    @media (min-width: 992px)
    {
      .slide-box p {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
    
    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: .5rem;
    }


  #edge_bender_1{    
    padding: 4em ;
    height: 65vh;
    overflow: hidden;
  }
  #edge_bender_2 img, #edge_bender_1 img{
    width: 50%;
  }
  #slider_pad{
    width: 95%;
  }
  @media screen and (max-width: 780px){
    #edge_bender_2, #edge_bender_1{
      padding: 2em !important;  
      height: unset;     
    }
    .resizebtn{
      font-size: 11px;
    }
    #hero {
      background-size: 100% 100%;
    }
    .hero-waves {      
      top: 0;
    }
  }

  #edge_bender_2{
    padding: 4em ;
    height: 65vh;
    overflow: hidden;
  }
  #product_page {
    width: 100%;
    background: url("../img/bg/product.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    /* padding: 120px 0 0 0; */
  }
 
  #prod_page_top{
    font-size: 5em !important;
     font-family: "system-ui";
      font-weight: 500;
       line-height: 100px;
     }
     .padd_captions{
      padding-top: 50px;
      padding-bottom: 50px;
    }
     @media screen and (max-width: 780px){
      #prod_page_top{
        font-size: 2em !important;
        font-size: 'unset';         
          font-weight: 1000;
          line-height: 34px;
         }
         .padd_captions{
          padding-top: 5px;
          padding-bottom: 5px;
        }
     }

  #calculator_page{
    width: 100%;
    background: url("../img/bg/bg-calculate.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
  }
 
  .digital_asset_page_bg{
    width: 100%;
    background: url("../img/bg/bg-digitalasset.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
  }
  .what_we_do_bg{   
    background: url("../img/bg/bg-whatwedo.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%
  }
  
  @media (min-width: 768px) { 
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
     }
    }
    @media (max-width: 767px) { 
    .dropdown:hover .dropdown-menu
       { display: none;
        margin-top: auto; }
    }
.bitcoin_page_bg{
  width: 100%;
  background: url("../img/bg/bg-bitcoin.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
}
.help_bg{
  background: rgb(12,102,226);
  background: linear-gradient(302deg, rgba(12,102,226,1) 9%, rgba(0,54,128,1) 47%);
}
.clearHeader{
  background-color: none;
}
.darkHeader{
  background-color: #00000073;
}
.navbar {
  box-shadow: none !important;
  height: 4em;
   
}
/* @media (max-width: 767px) {
  .clearHeader{
    background-color: #c680fc;
  }
  .darkHeader{
    background-color: #100c2073;
  }
} */
/* 
    .show{
      background-color:#0c0c0cb8;
      border-radius: 2em;
      border: solid 1px whitesmoke;
      padding-bottom: 1em;

    }
    .off_show{
      background-color: white !important;
      padding-bottom: 0 !important;
      border-radius: 0px !important;
      border: solid 0px whitesmoke !important;
      padding-bottom: 0 !important;
    } */
    /* cutom button section */
#custom_btn_dark{
  background: var(--unnamed-color-011b33) 0% 0% no-repeat padding-box;
  background: #011B33 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
}

#custom_btn_light_blue{
  background: #FFFFFF4D 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
}
.custom_btn_dark_blue{
  background: var(--unnamed-color-006cff) 0% 0% no-repeat padding-box;
  background: #006CFF 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
}
.home_sec_1{
  color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal 900 120px/120px Avenir;
letter-spacing: -2.4px;
color: #FFFFFF;
opacity: 1;
}
#prod_sec_1{
background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
background: #ffc6450d 0% 0% no-repeat padding-box;
height: 508px;
overflow: hidden;
}
#prod_sec_2{
  background: var(--unnamed-color-47c36b) 0% 0% no-repeat padding-box;
  background: #47c36b0f 0% 0% no-repeat padding-box;
  height: 508px;
  overflow: hidden;
}
#prod_sec_3{background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
  background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
  background: #08e8ff0f 0% 0% no-repeat padding-box;
  height: 508px;
  overflow: hidden;
 
}
#prod_sec_4{
  background: var(--unnamed-color-47c36b) 0% 0% no-repeat padding-box;
  background: #ffc0cb14 0% 0% no-repeat padding-box; 
  height: 508px;
  overflow: hidden; 
}


  #shift_center_1{
    position: relative;
    left: 160px;
  }
  #shift_center_2{
    position: relative;
    left: 100px;
  }
  #slide_sizer{
    height: 10em;
    overflow: hidden;
  }
  
  .carousel-control-next {
    right: -47px;
}
.carousel-control-prev {
  left: -47px;
}

  @media (max-width: 967px) { 
 
    #prod_sec_1,
    #prod_sec_2,
    #prod_sec_3,
    #prod_sec_4{
    height: auto;
    }
    #shift_center_2, #shift_center_1{    
      left: 0px;
    }
    #slide_sizer{
      height: auto;
      overflow: visible;
    }
    
  .carousel-control-next {
    right: 0;
}
.carousel-control-prev {
  left: 0;
}
  }

#slide_sizer{
  height: 10em;
  overflow: hidden;
}
.digital_asset{
  border: 0.1px solid var(--unnamed-color-000000);
background: #F8F8F8 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
#cal_sec{
  border-radius: 1em;
  box-shadow: 0;
  height: 40em;
  overflow: hidden;
}
@media (max-width: 967px) { 
  #cal_sec{
    border-radius: 1em;
    box-shadow: 0;
    height: auto;
    overflow: visible;
  }
}


.digital_asset_1{
padding: 1.6em ;
background-color: none !important;
border-radius: .7em;
border: solid 1px #ced4da;
/* color: #eee; */
outline: none;
}




.cal_btn{
  top: 1965px;
left: 330px;
height: 65px;
background: var(--unnamed-color-011b33) 0% 0% no-repeat padding-box;
background: #011B33 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#pad_cal_result{
padding-top:10em;
padding-bottom: 10em;
}

@media (max-width: 767px) { 
  #pad_cal_result{
    padding-top: 5em;
    padding-bottom:  5em;
    }
}

.round_ol {
  display: block;
  padding: 0 0 0 26px;
  list-style: none;
  
  overflow: hidden;
  counter-reset: numList;
}
.round_ol li { 
  float: left;
  position: relative
}
.round_ol li:before {
  counter-increment: numList;
  content: counter(numList);  
  float: left;
  position: absolute;
  left: -26px;  
  font: bold 12px sans-serif;
  text-align: center;
  color: black;
  line-height: 20px;  
  width: 30px; height: 30px;
  background:white;
  border: 1px solid;
  padding:4px 7px;  
  -moz-border-radius: 999px;
  border-radius: 999px
}
.cal_img_1{
  width: 50%; 
  position: relative;
  left: 9em;
}
.cal_img_2{
  width: 50%; 
  position: relative;
  right: -5em;
}

@media (max-width: 767px) { 
  .cal_img_2,.cal_img_1{
    width: auto;
    left: 0; 
  }
  #text_sm_center{
    text-align: center !important;
  }
}

#color_bullet .color_bullet_li::before {       
  content: "\2022";  
  color: #f78a02;
  font-weight: bold; 
  display: inline-block; 
  width: 2em;
  margin-left: 0em;         
}

#color_bullet .color_bullet_li_2::before {       
  content: "\2022";  
  color:  #168dde;;
  font-weight: bold; 
  display: inline-block; 
  width: 2em; 
  margin-left: 0em;        
}

#bitcoin_badge{
  width: 10%;
}
.bitcoin_page_img{
  width: 24em;
}

.nav-tabs {
  border-bottom: 0px solid #ff000000 !important;
}
.nav-tabs .nav-link {
  border: 0px solid transparent !important;
}
#myTabMD{
  position: relative;
  left: 39em;
}
@media (max-width: 1000px) { 
  #myTabMD{
    position: relative;
    left: 0;
  }
  #sm_font{
    font-size: 2.5rem;
  }
  
}


#inline_list li{ 
    display:inline;
  }

#nav_2{
  position: relative !important; 
  width: 72em;
  top: -40px;
  left: -81px;
}

.recent_trans_1{
background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
background: #f789022e 0% 0% no-repeat padding-box;
border-radius: 30px;
color:#FFC645;
padding:20%;
font-size: 1em;
text-align: center;
position: relative;
left: 23px; 
}
.recent_trans_2{
  background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
  background: #0ef7022e 0% 0% no-repeat padding-box;
  border-radius: 30px;
  /* color:#FFC645; */
  padding:20%;
  font-size: 1em;
  text-align: center;
  position: relative;
  left: 23px; 
  }
  .recent_trans_3{
    background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
    background: #f702022e 0% 0% no-repeat padding-box;
    border-radius: 30px;
    /* color:#FFC645; */
    padding:20%;
    font-size: 1em;
    text-align: center;
    position: relative;
    left: 23px; 
    }
    .recent_trans_4{
      background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
      background: #5938fd44 0% 0% no-repeat padding-box;
      border-radius: 30px;
      color: #5A38FD;
      padding:20%;
      font-size: 1em;
      text-align: center;
      position: relative;
      left: 23px; 
      }
      .recent_trans_5{
        background: var(--unnamed-color-ffc645) 0% 0% no-repeat padding-box;
        background: #00c3ff36 0% 0% no-repeat padding-box;
        border-radius: 30px;
        color:#00C4FF;
        padding:20%;
        font-size: 1em;
        text-align: center;
        position: relative;
        left: 23px; 
        }
@media (max-width: 900px) { 
  .recent_trans_5,
  .recent_trans_4,
  .recent_trans_3,
   .recent_trans_2,
    .recent_trans_1{     
    left: 5px;
  }
}
.home_sidebar_main_1{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid 3px #47c36b;
}
.home_sidebar_main_2{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid 3px #ffc645;
}
.home_sidebar_main_3{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid 3px #f0504f;
}
.home_sidebar_main_4{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid 3px#006cff;
}
.home_sidebar_main_5{
  width: 100%;
  background: url("../img/banner.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
}
#home_sidebar_sub_1 .img_sec{
background-color: #eef9f1;
border-radius: 10px;

}
#home_sidebar_sub_1 img{
 height: 50px;
 position: relative;
 left: -7px;
 margin-top: 5px;
    }
