#hero h1 span {
    color: #fff !important;
    border-bottom: 2px solid #c841dab8 !important;
}

.nav-menu > ul > li > a:before {   
    background-color: #ffffff !important;
}

.active > a:before {
    visibility: visible;
    width: 65% !important;;
    align-items: center;
    align-content: center;
}

#my_btn{
    background: #011B33 0% 0% no-repeat padding-box;
}
#header.header-scrolled {
    background:rgb(0 0 0 / 46%)!important;
    height: 50px !important;
}
.buy_bit{
color: var(--unnamed-color-011b33);
text-align: left;
letter-spacing: 0px;
color: #011B33;
opacity: 1;
}
.my_font{
    color: var(--unnamed-color-011b33);  
    letter-spacing: 0px;
    color: #011B33;
    opacity: 1;
    }

    /* CAROUSEL? */

 
    .carousel {
      width: 100%;
    }
    
    .slide-box {
      display: flex;
      justify-content: space-between;
    }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
      .slide-box p {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    
    @media (min-width: 768px) and (max-width: 991.98px) {
      .slide-box p {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }
    }
    
    @media (min-width: 992px)
    {
      .slide-box p {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
    
    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: .5rem;
    }


  #edge_bender_1{
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;   
    padding: 4em ;
    height: 65vh;
    overflow: hidden;
  }
  #edge_bender_2 img, #edge_bender_1 img{
    width: 50%;
  }
  #slider_pad{
    width: 95%;
  }
  @media screen and (max-width: 780px){
    #edge_bender_2, #edge_bender_1{
      padding: 2em !important;  
      height: unset;     
    }
    .resizebtn{
      font-size: 11px;
    }
    #hero {
      background-size: 100% 100%;
    }
    .hero-waves {      
      top: 0;
    }
  }

  #edge_bender_2{
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 4em ;
    height: 65vh;
    overflow: hidden;
  }
  #product_page {
    width: 100%;
    background: url("../img/bg/product.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    /* padding: 120px 0 0 0; */
  }
 
  #prod_page_top{
    font-size: 5em !important;
     font-family: "system-ui";
      font-weight: 500;
       line-height: 100px;
     }
     .padd_captions{
      padding-top: 50px;
      padding-bottom: 50px;
    }
     @media screen and (max-width: 780px){
      #prod_page_top{
        font-size: 'unset';         
          font-weight: 1000;
           line-height: "unset";
         }
         .padd_captions{
          padding-top: 5px;
          padding-bottom: 5px;
        }
     }

  